<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width">
    <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Home.css">
</html>
<body>
    <div  class="Header" >
        <Div class="Menu">
            <div class="Logo__Web">
                <img src="../public/img/modern-professional-sign-logo-kitchen-cook-vector-19879055-removebg-preview.png" alt="img">
            </div>
            <div class="Menu__Web">
                <div class="Menu__Content">
                    <div class="Title__Menu">
                        <a href="/" class="Title">Home</a>
                        <div class="Border__Title--Hover">
    
                        </div>
                    </div>
                    <div class="Title__Menu">
                        <a href="/production" class="Title">Produce</a>
                        <div class="Border__Title--Hover">
    
                        </div>
                    </div>
                    <div class="Title__Menu">
                        <a href="" class="Title">About</a>
                        <div class="Border__Title--Hover">
    
                        </div>
                    </div>
                    <div class="Title__Menu">
                        <a href="/profile "class="Title">Profile</a>
                        <div class="Border__Title--Hover">
    
                        </div>
                    </div>
                    <div class="Title__Menu">
                        <a href=""class="Title">Cart</a>
                        <div class="Border__Title--Hover">
    
                        </div>
                    </div>
                    <div class="Title__Menu">
                        <form action="/logout?_method=DELETE" method="POST">
                        <button class="Title">Logout</button>
                    </form>
                        <div class="Border__Title--Hover">
    
                        </div>
                    </div>
                </div>    
                </div>
                <input type="checkbox" id="CheckBox__Menu__Mobile">
                <label for="CheckBox__Menu__Mobile" class="Bar">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <label for="CheckBox__Menu__Mobile" id="Background__overLay__Moblie"></label>
                <label  class="MenuBar__Mobile">
                    <label for="CheckBox__Menu__Mobile"class="Bar__Close--Click">
                        <i class="fa-solid fa-xmark"></i>
                    </label>
         
                    <div class="MenuBar__Mobile__Content">
                        <div class="topic__Mobile--choice">
                            <div class="content__topic__Mobile">
                                <a href="" class="topic__Mobile">Home</a>
                                <div class="Border__Mobile--run"></div>
                            </div>
                            <div class="content__topic__Mobile">
                                <a href="" class="topic__Mobile">Product</a>
                                <div class="Border__Mobile--run"></div>
                            </div>
                            <div class="content__topic__Mobile">
                                <a href="" class="topic__Mobile">Custom</a>
                                <div class="Border__Mobile--run"></div>
                            </div>
                            <div class="content__topic__Mobile">
                                <a href="" class="topic__Mobile">Credit</a>
                                <div class="Border__Mobile--run"></div>
                            </div>
                            <div class="content__topic__Mobile">
                                <a href="" class="topic__Mobile">Shopping Cart</a>
                                <div class="Border__Mobile--run"></div>
                            </div>
                            <div class="content__topic__Mobile">
                                <a href="" class="topic__Mobile">Logout</a>
                                <div class="Border__Mobile--run"></div>
                            </div>
                    </div>
                </div>
                </label>
        </Div>
        <div class="BackGround__Header">
            <h1 id="Welcome">
                Welcome
            </h1>
            <div class="Line__BackGround__Header">

            </div>
            <div class="decoration__Web">
                <div class="decoration1__Web" >
                    Chúng tôi mang đến cho người dùng những trải nghiệm thú vị trong căn bếp của họ
                </div>
                <div class="decoration2__Web">
                    Nấu ăn như một phương pháp khoa học giúp bạn giải tỏa căng thăng.
                </div>
            </div>
        </div>
    </div>
        <div class="Content">
            <div class="Content1__Decretion">
                <div class="Content1__Tilte">
                    Best Produce
                </div>
                <div class="Content__Review">
                    
                    <div data-aos="fade-right" class="Content1__Produce">
                        <form action="/" method="post" class="Content1__Produce fix--Content1__Produce">
                            <% for(var i = 0; i < prod.length; i++) { %>
                                <input type="hidden" >
                        <div class="Produce__Content1">
                            <img src="  <%= prod[i].hinh %>" alt="" class="Produce__Content1__Background1">
                            <div class="Background__Content1">
                                <a href="/view-production?id=<%= prod[i]._id %>" class="see__Detail">
                                    Xem chi tiet
                                </a>
                            </div>
                            <div class="Inf__Produce__Content1">
                                <div class="Name__Produce__Content1">
                                    <%= prod[i].tensp %>
                                </div>
                                <div class="Date__PushProduce__Content1">
                                    <%= prod[i].idsanpham %>
                                </div>
                                <div class="Writter__Produce__Content1">
                                    <%= prod[i].dongia %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        </form>
                    </div>
                    
                    <div data-aos="zoom-in" class="Title__Content1">
                        <div class="Text1__Content1">
                            Top Produce trending
                        </div>
                        <div class="Text2__Content1">
                            Những món ăn được người dùng theo dõi và thực hiện nhiều nhất trong tuần qua
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Bulkhead">
                <div class="Bulkhead__Wall"></div>
            </div>

            <div class="Content2__Decretion">
                <div class="Content2__Tilte">
                    Best Produce
                </div>
                <div class="Content2__Review">
                    <div data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom" class="Title__Content2">
                        <div class="Text1__Content2">
                            Top Produce trending
                        </div>
                        <div class="Text2__Content2">
                            Những món ăn được người dùng theo dõi và thực hiện nhiều nhất trong tuần qua
                        </div>
                    </div>
                    <div  class="Content2__Produce"
                    data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
                        <form action="/" method="POST">
                            <% for(var i = 0; i < prop.length; i++) { %>
                            <div class="Produce__Content2">
                                <div class="Background__Content2">
                                    <a href="" class="see__Detail2">
                                        <%= prop[i].Ten_loai %>
                                    </a>
                                </div>
                                <div class="Inf__Produce__Content2">
                                    <div class="Name__Produce__Content2">
                                        <%= prop[i].Ten_loai %>
                                    </div>
                                    <div class="Date__PushProduce__Content2">
                                        <%= prop[i].Ma_Loai %>
                                    </div>
                                    <div class="Writter__Produce__Content2">
                                        <%= prop[i].Ma_Loai %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="Bulkhead">
                <div class="Bulkhead__Wall"></div>
            </div>
            <div class="Category__Content3">
                <div class="Category__Content__Title">
                    Category
                </div>
                <form action="/" method="POST">
                    <div  class="Category__Produces__Content" data-aos="fade-up"
                data-aos-duration="3000" >
                <% for(var i = 0; i < topic.length; i++) { %>
                    <div class="Category__Produce__Content">
                          <div class="Background__overLay__Catetory">
                          </div> 
                          <div class="Inf__Category__Produce__Content">
                              <div class="Name__Category__Produce">
                                  <a href="/topic-finding/id=?<%= topic[i].id_chude %>" class="Name__Category"><%= topic[i].Chu_de %></a>
                              </div>
                          </div>
                    </div>
                    <% } %>
                </div>
                </form>
                
        </div>
        <div data-aos="zoom-in" class="Title__Category">
            <div class="Title__Category__Text1">
                Top Produce trending
            </div>
            <div class="Title__Category__Text2">
                Những món ăn được người dùng theo dõi và thực hiện nhiều nhất trong tuần qua
            </div>
        </div>
        <div data-aos="zoom-in" class="Bulkhead">
            <div class="Bulkhead__Wall"></div>
        </div>
        <footer>
            <div class="Header__Footer">
                <div class="Content__Text__Footer1">
                    <div class="Big__Content__Text__Footer1">
                        Hệ thống cam kết
                    </div>
                    <div class="Small__Content__Text__Footer1">
                        Trên trang này, bạn có thể tìm thấy rất nhiều công thức nấu các món Á, Âu, các loại bánh và đặc biệt là các món ăn Nhật. Đây chắc chắn là một địa chỉ lý tưởng cho những ai yêu mến ẩm thực Nhật Bản.
                    </div>
                </div>
                <div class="Column__Content__Text">
                    <div class="Content__Text__Footer2">
                        <div class="Big__Content__Text__Footer2">
                            Liên hệ quảng cáo
                        </div>
                        <div class="Small__Content__Text__Footer2">
                            <h4>
                                Nguyễn Phan Thanh Tiến
                                SDT:0333185368
                            </h4>
                            <h4>
                                Phan Thành Thanh Thủy
                                SDT:0987973049
                            </h4>
                        </div>
                    </div>
                    <div class="Content__Text__Footer3">
                        <div class="Big__Content__Text__Footer3">
                            Về chúng tôi
                        </div>
                        <div class="Small__Content__Text__Footer3">
                            <a href="https://www.facebook.com/0333185368tien">
                                Tài khoản hỗ trợ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <script>
            AOS.init();
          </script>
<script>
    jQuery(document).ready(function(){
    jQuery(window).scroll(function(){
        if(jQuery(this).scrollTop()){
            jQuery('.Menu').addClass('Menu__scroll');
            jQuery('.BackGround__Header').addClass('BackGround__Header__scroll');
            jQuery('.Logo__Web').addClass('Logo__Web__scroll');
            jQuery('.Bar').addClass('Bar__scroll');
        }
        else{
            jQuery('.Menu').removeClass('Menu__scroll');
            jQuery('.BackGround__Header').removeClass('BackGround__Header__scroll');
            jQuery('.Bar').removeClass('Bar__scroll');
            jQuery('.Logo__Web').removeClass('Logo__Web__scroll');
        }
    });
})
</script>

</body>

